<div class="container" cg-busy="promise" ng-init="initPage()">
  <!-- BreadCrumb Tail -->
  <ol class="breadcrumb">
    <li><a href="#/">{{'general.breadcrumb.home' | translate}}</a></li>
    <li><a href="#/">{{'general.breadcrumb.configurations' | translate}}</a></li>
    <li><a href="#/products">{{'general.breadcrumb.products' | translate}}</a></li>
    <li class="active">{{operationType}}</li>
  </ol>

  <!-- FORM  -->
  <form name="contextForm" novalidate>
    <div class="form-group ">
        <label for="name">{{'productDetails.labels.name'| translate}}</label>
        <input id="name" type="text" class="form-control" ng-model="product.name"/>
    </div>

    <div class="form-group">
        <label for="date">{{'productDetails.labels.description'| translate}}</label>
        <input class="form-control" type="text" ng-model="product.description">
    </div>

    <div class="form-group">
        <label for="price">{{'productDetails.labels.price'| translate}}</label>
        <input id="price" type="number" class="form-control" ng-model="product.price"/>
    </div>

    <div class="form-group">
      <label for="available">{{'productDetails.labels.available'| translate}}</label>
      <md-switch ng-model="product.available" aria-label="Active" md-no-ink="false" class="md-primary md-block"></md-switch>        
    </div>

    <div style="float: right;">
        <button type="button" class="btn btn-secondary" ng-click="backToProducts()">{{'general.button.back' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="saveProduct()">{{'general.button.save' | translate}}</button>
    </div>
  </form>
</div>