<!-- Form Modal -->
<div class="modal-header empty-header">
	<button type="button" class="close" ng-click="modalInstance.dismiss('cancel');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div></div>
</div>
<div class="modal-body" style="left: 25px;">
	<img ng-src="{{src}}/portrait_incredible.jpg"/>
</div>
