<div class="container" cg-busy="promise" ng-init="getAllProducts()">
    <!-- BreadCrumb Tail -->
    <ol class="breadcrumb">
        <li><a ng-href="#/">{{'general.breadcrumb.home'| translate }}</a></li>
        <li class="active">{{'general.breadcrumb.store'| translate }}</li>
    </ol>

    <!-- Table with search results -->
    <div class="table-responsive">
        <!-- NEW CHARACTER BUTTON -->
        <form name="searchProductsForm" class="form-inline search-form" novalidate>      
            <div class="input-group">
                <input class="form-control" type="text" ng-model="productNameToSearch" placeholder="{{'general.search.productName' | translate}}">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
        <table id="tbProducts" class="table table-striped table-hover">
            <thead>                
                <tr>
                    <td><strong> {{'searchProducts.table.name'| translate}} </strong></td>
                    <td><strong> {{'searchProducts.table.buildDate'| translate}} </strong></td>
                    <td><strong> {{'searchProducts.table.type' | translate}} </strong></td>
                    <td><strong> {{'searchProducts.table.price' | translate}} </strong></td>
                </tr>
            </thead>
            <tbody>
                <!-- TABLE DATA -->
                <tr ng-repeat="product in getPreparedProductList()">
                    <td> {{::product.name}} </td>
                    <td> {{::product.buildDate | usDate}} </td>
                    <td> {{::product.type | productType}} </td>
                    <td> {{::product.price | currency:"USD$"}} </td>
                </tr>
                <!-- NO DATA MESSAGE -->
                <tr><td class="text-center" ng-if="productList.length === 0" colspan="5">{{'general.noteMessage.noData' | translate}}</td></tr>
            </tbody>
        </table>   
        <pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" items-per-page="itemsPerPage" max-size="maxSize" boundary-links="true" rotate="false" first-text="{{'general.pagination.button.first' | translate}}" previous-text="{{'general.pagination.button.previous' | translate}}" next-text="{{'general.pagination.button.next' | translate}}" last-text="{{'general.pagination.button.last' | translate}}"></pagination>
    </div>
</div>