<div class="container" cg-busy="promise" ng-init="initPage()">
  <!-- BreadCrumb Tail -->
  <ol class="breadcrumb">
    <li><a href="#/">{{'general.breadcrumb.home' | translate}}</a></li>
    <li class="active">{{'general.breadcrumb.configurations' | translate}}</li>
    <li><a href="#/products">{{'general.breadcrumb.rules' | translate}}</a></li>
    <li class="active">{{operationType}}</li>
  </ol>

  <!-- FORM  -->
  <form name="contextForm" novalidate>
    <div class="form-group ">
        <label for="name">{{'ruleDetails.labels.name' | translate}}</label>
        <input id="name" type="text" class="form-control" ng-model="rule.name"/>
    </div>

    <div class="form-group">
        <label for="content">{{'ruleDetails.labels.content'| translate}}</label>
        <textarea class="form-control" rows="5" id="content" ng-model="rule.dslr"></textarea>
    </div>

    <div style="float: right;">
        <button type="button" class="btn btn-secondary" ng-click="backToRules()">{{'general.button.back' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="saveRule()">{{'general.button.save' | translate}}</button>
    </div>
  </form>
</div>